{"filter":false,"title":".env.example","tooltip":"/.env.example","undoManager":{"mark":1,"position":-1,"stack":[[{"start":{"row":8,"column":13},"end":{"row":8,"column":14},"action":"insert","lines":["≠"],"id":30}],[{"start":{"row":8,"column":12},"end":{"row":8,"column":21},"action":"remove","lines":["homestead"],"id":30},{"start":{"row":8,"column":12},"end":{"row":8,"column":13},"action":"insert","lines":["–"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":22},"end":{"row":3,"column":22},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":true,"wrapToView":true},"firstLineState":0},"timestamp":1460222236000,"hash":"2b5788f0c84a6506565af6b7c3486bfbe9046fe8"}