{"filter":false,"title":".gitattributes","tooltip":"/.gitattributes","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":true,"wrapToView":true},"firstLineState":0},"timestamp":1460222899437,"hash":"e40c0cbb67522b1e38a4e72be400a94e95958383"}